.custom-scroll
{
	height: 492px;
}

.custom-scroll_bar-x
{
	bottom: 1px;
	height: 8px;
	left: 0;
}
.custom-scroll_bar-x, .custom-scroll_bar-y
{
	border-radius: 1px;
	cursor: default;
	khtml-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	opacity: .4;
	o-user-select: none;
	position: absolute;
	transition: opacity .2s;
	user-select: none;
	webkit-user-select: none;
	z-index: 1;
}
.custom-scroll_bar-x:active, .custom-scroll_bar-y:active
{
	opacity: 1;
}
.custom-scroll_bar-x:hover, .custom-scroll_bar-y:hover
{
	opacity: .7;
}
.custom-scroll_bar-y
{
	right: 1px;
	top: 0;
	width: 8px;
}
.custom-scroll_container
{
	overflow: hidden!important;
	position: relative;
}
.custom-scroll_hidden-x .setting-form__header
{
	padding-right: 10px;
}
.custom-scroll_hidden-x>.custom-scroll_bar-x, .custom-scroll_hidden-y>.custom-scroll_bar-y
{
	opacity: 0;
	transition: opacity .2s, visibility step-end .3s;
	visibility: hidden;
}
.custom-scroll_inner
{
	height: 100%;
	ms-overflow-style: none;
	overflow: scroll;
	overflow-x: hidden;
}
.custom-scroll_inner::-webkit-scrollbar
{
	height: 0;
	width: 0;
}

.fs-scrollbar
{
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}
.fs-scrollbar, .fs-scrollbar *
{
	moz-user-select: none !important;
	ms-user-select: none !important;
	user-select: none !important;
	webkit-user-select: none !important;
}
.fs-scrollbar, .fs-scrollbar-bar, .fs-scrollbar-content, .fs-scrollbar-handle, .fs-scrollbar-track
{
	box-sizing: border-box;
}
.fs-scrollbar-active .fs-scrollbar-bar, .fs-scrollbar-setup .fs-scrollbar-bar
{
	display: block;
}
.fs-scrollbar-active .fs-scrollbar-content, .fs-scrollbar-setup .fs-scrollbar-content
{
}
.fs-scrollbar-bar
{
	border-width: 0 0 0 1px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
	z-index: 2;
}
.fs-scrollbar-content
{
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	webkit-overflow-scrolling: touch;
	z-index: 1;
}
.fs-scrollbar-content::-webkit-resizer, .fs-scrollbar-content::-webkit-scrollbar, .fs-scrollbar-content::-webkit-scrollbar-button, .fs-scrollbar-content::-webkit-scrollbar-corner, .fs-scrollbar-content::-webkit-scrollbar-thumb, .fs-scrollbar-content::-webkit-scrollbar-track, .fs-scrollbar-content::-webkit-scrollbar-track-piece
{
	background: transparent;
	opacity: 0;
}
.fs-scrollbar-handle
{
	background: #bbb;
	border: 1px solid #fff;
	border-radius: 5px;
	cursor: pointer;
	height: 20px;
	position: absolute;
	right: 3px;
	top: 0;
	width: 10px;
	z-index: 2;
}
.fs-scrollbar-horizontal .fs-scrollbar-bar
{
	border-width: 1px 0 0;
	bottom: 0;
	height: 16px;
	top: auto;
	width: 100%;
}
.fs-scrollbar-horizontal .fs-scrollbar-content
{
	overflow: auto;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 0 16px;
}
.fs-scrollbar-horizontal .fs-scrollbar-handle
{
	bottom: 3px;
	height: 10px;
	right: auto;
	top: auto;
	width: 20px;
}
.fs-scrollbar-track
{
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

/********/
/***/
.basic  .custom-scroll
{
	height: 650px;
	margin-right: -17px;
	padding: 0;
	padding-right: 17px!important;
}
.custom-scroll
{
	margin-right: -17px;
}

.custom-scroll .fs-scrollbar-bar
{
	right: 1px;
}
.custom-scroll .fs-scrollbar-bar, .panel-list.custom-scroll .fs-scrollbar-track
{
	background: none;
	border: none;
}
.custom-scroll .fs-scrollbar-content
{
	margin-right: -17px;
	padding: 0;
}
@-moz-document url-prefix() { 
	.custom-scroll .fs-scrollbar-content
	{
		margin-right:0;
	}
}
.custom-scroll .fs-scrollbar-handle
{
	
	border: none;
	border-radius: 0;
	left: 0;
	width: 10px;
}
/***/
.shares .custom-scroll .fs-scrollbar-handle{
	background-color: #65999a;
}
.loans .custom-scroll .fs-scrollbar-handle
{
	background-color: #ae0a63;
}
.invest .custom-scroll .fs-scrollbar-handle
{
	background-color: #65470C;
}
