.sidebar-btn__wrap
{
	background: 0 0;
	height: 0;
	margin-left: -20px;
	margin-top: 15px;
	width: calc(100% + 40px);
}
.sidebar-btn__wrap:after, .sidebar-btn__wrap:before
{
	content: " ";
	display: table;
}

.sidebar-right
{
	background: rgba(43, 132, 215, .6);
	bottom: 0;
	left: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 296px;
	z-index: 15;
}
.sidebar-right .collapse-wrap
{
	background-color: #2b84d8;
	bottom: 0;
	right: 0;
	position:fixed;
	top: 0;
	width: 47px;
}
.sidebar-right .toggle-btn-aside
{
	background: 0 0;
	border: none;
	color: transparent;
	font-size: 0;
	height: 40px;
	outline: 0;
	position: fixed;
	right: 5px;
	top: 30px;
	width: 40px;
	z-index: 10;
}
.sidebar-right .toggle-btn-aside span
{
	background-color: #fffefc;
	display: block;
	height: 2px;
	margin: 5px 0;
	width: 100%;
}
.sidebar-right__inner
{
	position: relative;
}
.sidebar-right__inner .navi.dashboard_nav
{
	margin-top: 0;
}
.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav
{
	background-color: #143146;
	display: none;
	left: -230px;
	padding: 20px 0;
	position: absolute;
	top: 0;
	transform: translate(0);
	width: 230px;
	z-index: 10;
}
.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .hide-badges
{
	left: auto;
	right: 0;
	top: -8px;
}
.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .hide-badges .nem-small
{
	color: #fffefc;
	font-weight: 400;
}
.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list
{
	margin-bottom: 40px;
	padding: 0 30px;
}
.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list
{
	position: relative;
}
.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .link
{
	font-size: 14px;
	margin-bottom: 5px;
	padding: 0;
	position: relative;
}
.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .link:before
{
	border-radius: 6px;
	content: '';
	height: 6px;
	left: -16px;
	position: absolute;
	top: 7px;
	transform: scale(0);
	transform-origin: center;
	width: 6px;
}
.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .link:hover:before
{
	animation-duration: .4s;
	animation-fill-mode: both;
	animation-name: scaleIn;
	background: #e355db;
	transform: scale(1);
}
.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .title_subnav
{
	color: #e355db;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
	position: relative;
}
.sidebar-right__inner .navi.dashboard_nav>.list
{
	position: relative;
}
.sidebar-right__inner .navi.dashboard_nav>.list .hide-badges
{
	left: 60px;
	top: 8px;
}
.sidebar-right__inner .navi.dashboard_nav>.list .hide-badges .nem-small
{
	margin-top: 9px;
}
.sidebar-right__inner .navi.dashboard_nav>.list .link
{
	display: block;
	font-size: 18px;
	font-weight: 700;
	padding: 30px 0 30px 60px;
	transition: background-color .3s;
}
.sidebar-right__inner .navi.dashboard_nav>.list:hover .hide-badges .count-small
{
	background-color: #e355db;
}
.sidebar-right__inner .navi.dashboard_nav>.list:hover .link
{
	background-color: rgba(20, 49, 70, .9);
}
.sidebar-right__inner .navi.dashboard_nav>.list:hover>.navi.dashboard__subnav
{
	opacity: 1;
	transform: translate(0);
	z-index: 10;
}
.sidebar-right__inner .sidebar-right__person
{
	padding: 20px 60px;
	position: relative;
}
.sidebar-right__inner .sidebar-right__person .sidebar-right__person_custom
{
	background-image: url(../images/sprite.png);
	background-position: -72px -98px;
	display: block;
	height: 18px;
	position: absolute;
	right: 37px;
	top: 50px;
	width: 20px;
	font-size:0;
}
.sidebar-right__inner .sidebar-right__person .sidebar-right__person_date
{
	color: #174c74;
	font-size: 11px;
	padding-left: 20px;
	text-transform:uppercase;
	font-weight:bold;
}
.sidebar-right__inner .sidebar-right__person .sidebar-right__person_date span
{
	color: #10243c;
}
.sidebar-right__inner .sidebar-right__person .sidebar-right__person_enter
{
	background-image: url(../images/sprite.png);
	background-position: -120px -48px;
	display: block;
	height: 15px;
	position: absolute;
	right: 40px;
	top: 20px;
	width: 14px;
	font-size:0;
}
.sidebar-right__inner .sidebar-right__person .sidebar-right__person_img
{
	border: 2px solid #71a0d1;
	border-radius: 90px;
	height: 90px;
	margin: 0 auto 15px;
	overflow: hidden;
	position: relative;
	width: 90px;
}
.sidebar-right__inner .sidebar-right__person .sidebar-right__person_img img
{
	height: auto;
	min-height: 90px;
	width: 100%;
}
.sidebar-right__inner .sidebar-right__person .sidebar-right__person_title
{
	font-size: 11px;
	margin-bottom: 5px;
	padding-left: 20px;
}
.sidebar-right__inner .title_board
{
	background-color: #256a9d;
	font-size: 29px;
	font-weight: 700;
	margin: auto;
	padding: 40px 0;
	text-align: center;
	width: 100%;
}



	.sidebar-right
	{
		width: 217px;
	}
	.sidebar-right__inner .navi.dashboard_nav>.list .hide-badges
	{
		left: 30px;
	}
	.sidebar-right__inner .navi.dashboard_nav>.list .link
	{
		padding-left: 32px;
	}
	.sidebar-right__inner .sidebar-right__person
	{
		padding: 20px;
	}
	.sidebar-right__inner .sidebar-right__person .sidebar-right__person_custom
	{
		right: 17px;
	}
	.sidebar-right__inner .sidebar-right__person .sidebar-right__person_enter
	{
		right: 20px;
		top: 10px;
	}	

@media (min-width: 1200px)
{
	.sidebar-right__inner .navi.dashboard_nav>.list .hide-badges + .link
	{
		padding-bottom	: 20px;
		padding-top	: 40px;
	}
}
	.ui-overlay
	{
		bottom: 0;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 13;
	}

@media (max-width: 1199px)
{

	.sidebar-right
	{
		background: #256a9d;
		overflow-y: auto;
		padding-left: 0;
		position: fixed;
		right: -217px;

		width: 217px;
		z-index: 300;
	}
	.sidebar-btn__wrap
	{
		background: #226392;
		height: 40px;
	}


	.sidebar-right .hide-badges
	{
		display: none;
	}

	.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav
	{
		background: #347aad;
		left: auto;
		position: relative;
		top: auto;
		width: 100%;
	}
	.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list
	{
		margin-bottom: 0;
		padding: 0;
	}
	.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .link
	{
		cursor: pointer;
		margin-bottom: 0;
		padding-left: 55px;
	}
	.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .link, .sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .title_subnav
	{
		background: 0 0!important;
		color: #fffefc;
		cursor: pointer;
		font-size: 14px;
		padding: 12px 0 10px 45px;
		transition: background .3s;
	}
	.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .link:before
	{
		height: 0!important;
		width: 0!important;
	}
	.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .link:hover, .sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .title_subnav:hover
	{
		background: #145686!important;
	}
	.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .title_subnav
	{
		margin-bottom: 0;
	}
	.sidebar-right__inner .navi.dashboard_nav .navi.dashboard__subnav .list .title_subnav:after
	{
		background-image: url(../images/sprite.png);
		background-position: -120px -97px;
		content: '';
		height: 16px;
		left: 23px;
		position: absolute;
		top: 13px;
		width: 10px;
	}
	.sidebar-right__inner .navi.dashboard_nav>.list.drop>.link.active:before
	{
		transform: rotate(90deg);
	}
	.sidebar-right__inner .navi.dashboard_nav>.list.drop>.link:before
	{
		background-image: url(../images/sprite.png);
		background-position: -120px -97px;
		content: '';
		height: 16px;
		left: 13px;
		position: absolute;
		top: 23px;
		transition: transform .3s;
		width: 10px;
	}
	.sidebar-right__inner .navi.dashboard_nav>.list:first-child>.link
	{
		border-top: none;
	}
	.sidebar-right__inner .navi.dashboard_nav>.list>.link
	{
		background-color: transparent!important;
		border-bottom: 1px solid #194a6e;
		border-top: 1px solid #3273a3;
		padding: 19px 0 15px 60px;
		position: relative;
	}
	.sidebar-right__inner .sidebar-right__person
	{
		padding-top: 60px!important;
	}
	.sidebar-right__inner .sidebar-right__person .sidebar-right__person_custom, .sidebar-right__inner .sidebar-right__person .sidebar-right__person_enter
	{
		background: 0 0;
		color: #10243c;
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		margin: 13px 25px 0 15px;
		padding-left: 25px;
		position: relative;
		right: auto!important;
		text-transform: uppercase;
		top: auto!important;
		width: auto;
	}

	.sidebar-right__inner .sidebar-right__person .sidebar-right__person_custom:before, .sidebar-right__inner .sidebar-right__person .sidebar-right__person_enter:before
	{
		background-image: url(../images/sprite.png);
		background-position: -72px -98px;
		content: '';
		height: 18px;
		left: 0;
		position: absolute;
		top: -1px;
		width: 20px;
	}
	.sidebar-right__inner .sidebar-right__person .sidebar-right__person_enter:before
	{
		background-image: url(../images/sprite.png);
		background-position: -120px -48px;
		height: 15px;
		width: 14px;
	}
	.sidebar-right__person_mobile-back-button
	{
		background-color: #DADADA;
		color: #10243c;
		cursor: pointer;
		display: block;
		font-size: 18px;
		font-weight: 500;
		left: 0;
		padding: 12px 40px;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		top: 0;
	}
	.sidebar-right__person_mobile-back-button_arrow
	{
		background-image: url(../images/sprite.png);
		background-position: 0px -20px;
		background-size: 100px;
		height: 22px;
		left: 13px;
		position: absolute;
		top: 11px;
		width: 14px;
	}
	.sidebar-right__person_mobile-back-button_logo
	{
		background-image: url(../images/sprite.png);
		background-position: 0px 0px;
		height: 28px;
		position: absolute;
		right: 15px;
		top: 9px;
		width: 37px;
	}
	.subordinated .sidebar-right
	{
		bottom: 0px;
	}

}
@media (min-width: 992px)
{
		.sidebar-right__inner .sidebar-right__person .sidebar-right__person_custom, .sidebar-right__inner .sidebar-right__person .sidebar-right__person_enter
	{
		color: transparent;
		font: 0/0 a;
	}
	.sidebar-right__person_mobile-back-button
{
	display: none;
}
}
@media (max-width: 767px)
{
	.sidebar-right
	{
		box-shadow: -6px 0px 5px -5px rgba(50, 50, 50, 0.7);
		overflow-y: visible;
		padding-left: 0;
		right: -217px;
		transition: right .5s;
		width: 217px;
	}
	.sidebar-right .collapse-wrap
	{
		background: 0 0;
		width: 47;
	}
	.sidebar-right .toggle-btn-aside
	{
		left: -51px;
		position: absolute;
		top: 0px;
	}
	.sidebar-right__inner
	{
		background: #256a9d;
		height: 100% !important;
		overflow-y: auto;
	}
	.sidebar-right__inner .sidebar-right__person .sidebar-right__person_date span
	{
		font-weight: 700;
	}
	.sidebar-right__inner .sidebar-right__person .sidebar-right__person_date, .sidebar-right__inner .sidebar-right__person .sidebar-right__person_date span
	{
		text-transform: uppercase !important;
	}
	/*.sidebar-right__person_mobile-back-button
	{
		display: none;
	}*/
}