html {
	background: #fff url(../i/main-bg.png) repeat-y 50% 0;
}

body {
	margin: 0;
	font: 10pt Arial, sans-serif;
	color:#4d4d4d;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: normal;
}

.clear:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

img {
	border: none;
}

form {
	margin: 0;
	display: inline;
}

a {
	color: #00a600;
}

a:hover {
	text-decoration: none;
}

#main {
	width: 100%;
	background: url(../i/header-bg1.png) repeat-x 0 -5px;
	overflow: hidden;
	height: 1%;
	min-width: 1000px;
	max-width: 1280px;
	margin: 0 auto;
}

#main2 {
	background: #fff url(../i/header-bg1.png) repeat-x;
}

#header {
	width: 100%;
	position: relative;
	position: relative;
	overflow: hidden;
	height: 1%;
}

.logo {
	position: absolute;
	top: 21px;
	left: 25px;
}

.logo a, .logo span {
	display: block;
	width: 209px;
	height: 91px;
	background: url(../i/logo.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
}

.slogan {
	position: absolute;
	top: 115px;
	left: 22px;
	display: block;
	background: url(../i/slogan.png) no-repeat;
	width: 367px;
	height: 14px;
	text-indent: -9999px;
	z-index: 2;
}

.login {
	width: 236px;
	background: url(../i/login-bg.png) repeat-y -236px 0;
	position: absolute;
	top: 28px;
	left: 250px;
	height: 80px;
}

.login .top, .login .bottom {
	display: block;
	height: 24px;
	clear: both;
}

.login .top a, .login .bottom a {
	color: #009500;
	display: block;
	clear: both;
	margin: 0 52px 0 64px;
	text-align: center;
	font-size: 8pt;
	text-decoration: none;
}

.login .top a:hover, .login .bottom a:hover {
	text-decoration: underline;
}

.login .top a {
	padding-top: 5px;
}

.login .bottom a {
	padding-bottom: 5px;
}

.login .top {
	background: url(../i/login-bg.png) no-repeat 0px 0;
	height: 20px;
}

.login .bottom {
	background: url(../i/login-bg.png) no-repeat -472px 100%;
}

.login label {
	display: block;
	width: 50px;
	float: left;
	text-align: right;
	padding-right: 10px;
	font-size: 8pt;
	color: #4d4d4d;
}

.login .logholder {
	float: left;
}

.login .logholder div {
	padding: 2px 0;
	overflow: hidden;
}

.login .logholder input {
	width: 112px;
	border: 1px solid #d1d1d1;
	padding: 1px 3px;
	font-size: 8pt;
	float: left;
}

.login .button {
	float: left;
}

.enter {
	display: block;
	position: absolute;
	top: 10px;
	left: 200px;
}

.enter a {
	color: #4d4d4d;
	font-size: 9pt;
	display: block;
	float: left;
}

.enter a:hover {
	text-decoration: none;
}

.devider1 {
	display: block;
	background: url(../i/devider1.png) no-repeat;
	width: 4px;
	height: 13px;
	float: left;
	margin: 3px 3px 0;
	font-size: 1px;
	line-height: 1px;
}

.search {
	height: 52px;
	background: url(../i/search-bg.png) repeat-x 0 -104px;
	width: 383px;
	position: absolute;
	top: 135px;
	left: 14px;
}

.search .left, .search .right {
	height: 39px;
	padding-top: 13px;
	float: left;
	background: url(../i/search-bg.png) no-repeat;
}

.search .left {
	background-position: 0 -52px;
	width: 32px;
	padding-left: 21px;
}

.search .right {
	background-position: 100% 0;
	width: 300px;
	padding-right: 30px;
}

.search .right input {
	width: 302px;
	border: 1px solid #009500;
	padding: 2px 4px;
}

.main-nav {
	position: absolute;
	top: 185px;
	left: 10px;
	z-index: 5;
	width: 410px;
}

.main-nav li {
	background: url(../i/bulet1.png) no-repeat 12px 7px;
	float: left;
	padding-left: 30px;
	height: 18px;
}

.main-nav li a {
	color: #4d4d4d;
	font-size: 10pt;
}

.main-nav li a:hover {
	color: #008b00;
	text-decoration: underline;
}

.main-nav li.active {
	color: #008b00;
	font-weight: bold;
	font-size: 11pt;
}

.card {
	position: absolute;
	top: 241px;
	left: 30px;
	z-index: 4;
}

.card a {
	display: block;
	width: 60px;
	height: 24px;
	background: url(../i/card.png) no-repeat 0 0;
	color: #b80012;
	float: left;
	padding: 14px 0 0 55px;
	font-size:11pt;
}

.card a:hover {
	text-decoration: none;
}

.card span {
	display: block;
	float: left;
	padding-top: 17px;
	color: #4d4d4d;
	font-size:11pt;
}

.televizor {
	display: block;
	width: 456px;
	height: 300px;
	position: absolute;
	left: 35%;
	top:18px;
}

#vkl {
	display: block;
	position: absolute;
	width: 55px;
	padding: 0px 0 0 60px;
	height: 96px;
	top: 130px;
	left: 0;
	color: #000;
}

.televizor .vkl, .televizor .vikl {
	background: url(../i/vkl.png) no-repeat;
}

.televizor .vkl:hover, .televizor .vikl:hover {
	text-decoration: none;
}

.televizor .vikl {
	background-position: 0 0
}

.televizor .vkl {
	background-position: 0 -96px
}

#televayzer {
	position:relative;
	z-index: 2;
	left: 110px;
	top: 10px;
	background-repeat: no-repeat;
}

#televayzer embed {
	position: absolute;
	top: 16px;
	left: 17px;
}

#header .telephone {
	float:right;
	width:171px;
	color:#4D4D4D;
	border:0px solid #fff;
	padding:1%;
	line-height:19px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}
#header .telephone strong{
	font-size:12pt;
	display:block;
	text-align:center;
}
#header .telephone .contact{
	/*color:#00A600;*/
	color:#4D4D4D;
	font-weight:normal;
}
.televizor .bythis {
	width: 341px;
	margin-left:115px;
	clear:both;
}
.televizor .bythis .head{
	text-align:center;
	font-size:16pt;
}

.televizor .bythis .sale {
	display: block;
	width: 134px;
	height: 134px;
	margin: 0 auto;
	margin-top: 20px;
}

.televizor .bythis h2 {
	padding-left: 15px;
	color: #c00014;
	font-size: 14pt;
	text-transform: uppercase;
}

.televizor .bythis h3 {
	padding-left: 39px;
	color: #4d4d4d;
	font-size: 14pt;
}

.televizor .bythis .by {
	padding: 15px 0 0 15px;
	overflow: hidden;
	height: 1%;
}

.televizor .bythis .by .price {
	color: #c00014;
	font-size: 16pt;
	float: left;
	font-size: 26pt;
	padding-right: 10px;
}

.televizor .bythis .by .incard {
	display: block;
	width: 30px;
	height: 35px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	background: url(../i/by.png) no-repeat;
	overflow: hidden;
	padding-top: 20px;
	color: #000;
	text-decoration: none;
	float: left;
}

.televizor .bythis .by .incard:hover {
	background-position: -38px 0;
}

.brendnavholder {
	margin: 280px 10px 0;
	overflow: hidden;
	height: 1%;
}

.brendnav {
	width: 100%;
	overflow: hidden;
	height: 1%;
	position: relative;
	min-height: 40px;
	min-width: 150px;
	padding: 5px 0;
}
* html .brendnav {
	float: none;
}

.brendnav .valuta {
	position: absolute;
	right: 20px;
	top: 15px;
}

.brendnav .valuta li {
	float: left;
}

.brendnav .valuta li span {
	float: left;
	background: url(../i/valuta-bg.png) no-repeat 0 -54px;
	padding: 0 5px;
	color: #fff;
	line-height: 18px;
	text-decoration: none;
}

.brendnav .valuta li a {
	float: left;
	background: url(../i/valuta-bg.png) no-repeat 0 -36px;
	padding: 0 5px;
	color: #000;
	line-height: 18px;
	text-decoration: none;
}

.brendnav .valuta li a:hover {
	background-position: 0 -54px;
	color: #fff;
}

.brendnav .valuta li.first a {
	background-position: 0 -18px;
}

.brendnav .valuta li.first span, .brendnav .valuta li.first a:hover {
	background-position: 0 0;
}

.brendnav .valuta li.last a {
	background-position: 100% -0px;
}

.brendnav .valuta li.last span, .brendnav .valuta li.last a:hover {
	background-position: 100% -18px;
}

.brendnav h3 {
	color: #4d4d4d;
	font-size: 14pt;
	padding: 0 0 10px 0;
}

.brendnav .nav {
}

.brendnav .nav li {
	display: inline;
	margin-right: 10px;
	color: #777;
	font-size: 11pt;
	padding:5px;
}

.brendnav .nav li a {
	color: #000;
	font-size: 11pt;
	padding: 0 5px 0 0;
}

.brendnav .nav li a:hover {
	text-decoration: none;
	color: #00a600;
}

.brendnav .nav li.active{
	color:#fff;
	background:#00A600
}

.content-holder {
	margin: 0 395px 0 0;
}

.content-holder2 {
	margin: 0 30px 0 260px;
}

#content {
	width: 100%;
	float: left;
	background: #fff;
}

#main2 #content {
	width: auto;
	float: none;
}

.tovar-group {
	overflow: hidden;
	height: 1%;
}

.tovar-group li {
	float: left;
	margin: 10px 12px;
	height: 236px;
}

.tovar-group li.mobiltel .img {
	background: url(../i/icon1.jpg) no-repeat;
}

.tovar-group li.kpk .img {
	background: url(../i/icon2.jpg) no-repeat;
}

.tovar-group li.comp .img {
	background: url(../i/icon3.jpg) no-repeat;
}

.tovar-group li.video .img {
	background: url(../i/icon4.jpg) no-repeat;
}

.tovar-group li.orgteh .img {
	background: url(../i/icon5.jpg) no-repeat;
}

.tovar-group li.foto .img {
	background: url(../i/icon6.jpg) no-repeat;
}

.tovar-group li.games .img {
	background: url(../i/icon9.jpg) no-repeat;
}

.tovar-group li.gps .img {
	background: url(../i/icon8.jpg) no-repeat;
}

.tovar-group li.nout .img {
	background: url(../i/icon7.jpg) no-repeat;
}

.tovar-group li.mon .img {
	background: url(../i/icon10.jpg) no-repeat;
}

.tovar-group li.usbhdd .img {
	background: url(../i/icon11.jpg) no-repeat;
}

.tovar-group li.tele .img {
	background: url(../i/icon12.jpg) no-repeat;
}

.tovar-group li .img {
	display: block;
	width: 173px;
	background-repeat: no-repeat;
	overflow: hidden;
	float: left;
	padding-top: 118px;
	text-align: center;
	color: #00a600;
	font-size: 16pt;
	text-decoration: none
}

.tovar-group li .img:hover {
	background-position: -173px 0 !important;
	color: #4d4d4d;
}

.tovar-group li .img span {
	display: block;
	color: #4d4d4d;
	text-decoration: underline;
}

.tovar-group li .img:hover span {
	color: #b50d1e;
}

.block-news {
	width: 90%;
	margin: 0 auto;
}

.block-news {
	position: relative;
}

.block-news .tabs {
	background: url(../i/tabs-bg.png) no-repeat 0 100%;
	overflow: hidden;
	height: 34px;
	clear: both
}

.block-news .tabs li {
	float: left;
	width: 160px;
	line-height: 34px;
	font-size: 12pt;
	color: #4d4d4d;
	text-align: center;
	cursor: pointer;
}

.block-news .tabs li a {
	color: #4d4d4d;
	font-size: 11pt;
	text-decoration: none;
	padding: 0 5px 0 0;
}

.block-news .tabs li a:hover {
	text-decoration: underline;
}

.block-news .tabs li.active {
	width: 220px;
	background: url(../i/tabs-active2.png) no-repeat 0 0;
	height: 34px;
	cursor: default;
	color: #fff;
	font-size: 15pt;
	line-height: 34px;
	text-align: left;
}

.block-news .tabs li.active span {
	display: block;
	float: left;
	width: 160px;
	padding: 0 0 0 15px;
	color: #4d4d4d;
}

.block-news .tabs li.active em {
	font-style: normal;
	display: block;
	float: left;
	width: 40px;
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
}

.block-news .text {
	position: relative;
	padding: 25px;
	background: #f4f4f4 url(../i/block-news-bg2.png) repeat-y 100% 0;
	zoom: 1;
}

.block-news .content {
	min-height: 300px;
}
* html .block-news .content {
	height: 300px;
}

.block-news .text .round {
	background: url(../i/block-news-bg1.png);
	display: block;
	position: absolute;
	overflow: hidden;
	font-size: 1px;
	line-height: 1px;
	zoom: 1;
}

.block-news .text .tr {
	width: 15px;
	height: 15px;
	top: 0;
	right: 0;
	background-position: 0 -15px;
	z-index: 2;
}

.block-news .text .br {
	width: 15px;
	height: 15px;
	bottom: 0;
	right: 0;
	background-position: 0 -30px;
	z-index: 1;
}

.block-news .text .bl {
	width: 15px;
	height: 15px;
	bottom: 0;
	left: 0;
	background-position: 0 0px;
	z-index: 1;
}

.block-news .text .b-bg {
	width: 99%;
	height: 15px;
	bottom: 0;
	left: 0;
	background-position: 0 -45px;
	background-repeat: repeat-x;
}
* html .block-news .text .b-bg {
	padding: 0 25px;
}

.block-news .text .r-bg {
	height: 100%;
	width: 15px;
	right: 0;
	top: 0;
	z-index: 5;
}

.block-news .text .news-item {
	clear: both;
	color: #4d4d4d;
	margin-bottom: 20px;
}

.block-news .text .news-item img {
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #d0d0d0;
}

.block-news .text .news-item a {
	color: #008300;
	font-size: 11pt;
}

.block-news .text .news-item a:hover {
	text-decoration: none;
}

.block-news .text .news-item p {
}

/*******************/
.hits {
	background: url(../i/hit-bg.png) repeat-y;
	width: 382px;
	overflow: hidden;
	height: 1%;
	position: relative;
	padding-bottom: 144px;
	height: 800px;
}

.hits-holder {
	position: relative;
}

.tovar {
	width: 176px;
	float: left;
	margin-top: 35px;
}

.tovar h2 {
	font-size: 11pt;
	color: #4d4d4d;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

.tovar h2 a {
	display: block;
	color: #00a600;
}

.tovar .img {
	text-align: center;
	position: relative;
	zoom: 1;
}

.tovar .img .sale {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 80px;
	height: 80px;
}

.tovar .by {
	padding: 15px 0 0 50px;
}

.tovar .by .price{
	width:107px;
	display:block;
	height:34px;
	line-height:34px;
	float:left;
	margin-left:1px;
	font-size:14pt;
	text-align:center;
}
.tovar .by .price em{
	font-style:normal;
	color:#00A600;
}
.tovar .by .price span{
	color:#4d4d4d;
}

.tovar .by a.incard {
	display: block;
	width: 82px;
	height: 25px;
	background: url(../i/by3.png) no-repeat;
	overflow: hidden;
	float: left;
	text-indent:-9999px;
}

.tovar .by a.incard:hover {
	background-position: 0 -25px;
}


.by a.incard2 {
	display: block;
	width: 30px;
	height: 35px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	background: url(../i/by.png) no-repeat -74px 0;
	overflow: hidden;
	color: #000;
	text-decoration: none;
	float: left;
	cursor: default;
}

.by a.incard3 {
	display: block;
	width: 30px;
	height: 35px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	background: url(../i/cardload.gif) no-repeat 0px 0;
	overflow: hidden;
	padding-top: 20px;
	color: #000;
	text-decoration: none;
	float: left;
}

.tovarhold {
	border-collapse: collapse;
}

.tovarhold td {
	vertical-align: bottom;
	border-collapse: collapse;
}

.hits .tabs {
	background: url(../i/tabs-bg.png) no-repeat 0 100%;
	overflow: hidden;
	height: 34px;
	clear: both
}

.hits .tabs li {
	float: left;
	width: 140px;
	line-height: 34px;
	font-size: 12pt;
	color: #4d4d4d;
	text-align: center;
	cursor: pointer;
}

.hits .tabs li a {
	color: #4d4d4d;
	font-size: 11pt;
	text-decoration: none;
	padding: 0 5px 0 0;
}

.hits .tabs li a:hover {
	text-decoration: underline;
}

.hits .tabs li.active {
	width: 220px;
	background: url(../i/tabs-active.png) repeat 0 0;
	height: 34px;
	color: #fff;
	font-size: 16pt;
	line-height: 34px;
	text-align: left;
	cursor: default;
}

.hits .tabs li.active span {
	display: block;
	float: left;
	width: 150px;
	padding: 0 0 0 25px;
}

.hits .tabs li.active em {
	font-style: normal;
	display: block;
	float: left;
	width: 40px;
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
}

.hits .tabs li.active a:hover {
}

.hits .bottom {
	background: url(../i/hit-bg2.png) no-repeat;
	width: 382px;
	height: 144px;
	clear: both;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
}

.hits .bottom span {
	position: absolute;
	top: 85px;
	left: 170px;
	font-size: 18pt;
	font-weight: bold;
	padding: 15px 0 15px 30px;
	cursor: pointer;
}

.hits .bottom span.hover a {
	color: #00a600;
	text-decoration: none;
}

.hits .bottom span a {
	color: #00a600;
	padding: 0 3px;
}

.hits .bottom span a:hover {
	text-decoration: none;
}

.seotext {
	padding: 10px 0;
}

.seotext p {
	margin: 10px 0;
	color: #4d4d4d;
	font-size: 8pt;
}

#column2 {
	width: 380px;
	padding-right: 10px;
	float: right;
}

#footer {
	width: 100%;
	clear: both;
	background: url(../i/footer-bg2.png) repeat-x;
	position: relative;
}

.footer {
	background: url(../i/footer-bg.jpg) no-repeat;
	height: 210px;
}

.credit {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../i/credit-bg.png) repeat-x 0 100%;
	width: 345px;
	height: 210px;
}

.credit h3 {
	height: 36px;
	background: url(../i/credit.jpg) no-repeat;
	line-height: 36px;
	font-size: 10pt;
	color: #fff;
	padding-left: 25px;
}

table.banerhold {
	width: 100%;
	height: 218px;
	border-collapse:collapse;
	padding:0;
}

td.banerhold {
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
	padding: 0;
}

.baners {
	text-align:center;
}
.baners, .baners td{
	padding:0;
	margin:0;
	border-collapse:collapse;
}
.logo2 {
	position: absolute;
	top: 20px;
	left: 50px;
}

.logo2 a {
	display: block;
	width: 155px;
	height: 67px;
	background: url(../i/logo2.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

.copy {
	color: #fff;
	font-size: 8pt;
	line-height: 8pt;
	display: block;
	position: absolute;
	top: 95px;
	width: 200px;
	text-align: center;
	left: 20px;
}

.develop {
	color: #fff;
	font-size: 8pt;
	line-height: 8pt;
	display: block;
	position: absolute;
	bottom: 10px;
	width: 150px;
	text-align: center;
	left: 40px;
}

.develop a {
	color: #fff;
}

.develop a:hover {
	text-decoration: none;
}

.tovposition {
	position: absolute;
	left: 190px;
	bottom: 0;
	height: 254px;
	width: 473px;
}

.tovposition .img {
	position: absolute;
	left: 34px;
	bottom: 0;
}

.tovposition .sale {
	width: 90px;
	height: 90px;
	position: absolute;
	z-index: 3;
	bottom: 5px;
	left: 160px;
}

.tovposition .birka {
	background: url(../i/birka.png) no-repeat;
	width: 245px;
	height: 90px;
	position: absolute;
	bottom: 5px;
	right: 15px;
}

.tovposition .by {
	position: absolute;
	right: 35px;
	bottom: 35px;
	z-index: 2;
}

.tovposition .by .price {
	color: #000;
	float: left;
	font-size: 24pt;
	padding-right: 0px;
}

.tovposition .by .incard {
	display: block;
	width: 30px;
	height: 15px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	background: url(../i/by.png) no-repeat;
	overflow: hidden;
	padding-top: 20px;
	color: #000;
	text-decoration: none;
	float: left;
}

.tovposition .by .incard:hover {
	background-position: -38px 0;
}

.tovposition .prihod {
	font-size: 18pt;
	color: #fff;
	position: absolute;
	top: 80px;
	right: 40px;
	text-align: center;
	z-index: 10;
}

.tovposition .prihod a {
	display: block;
	color: #fff;
}

.tovposition .prihod a:hover {
	text-decoration: none;
}

#footer .telephone {
	position: absolute;
	top: 20px;
	left: 250px;
	color:#fff;
}
#footer .telephone .rezh{
}
#footer .telephone ul{
	clear:both;
	margin-right:360px;
}
#footer .telephone ul li{
	float:left;
	margin:5px 0 0 10px;
}
#footer .telephone ul li .contact{
	color:#fff;
}
/******************/
.load {
	margin: 50px auto;
	width: 97px;
	height: 60px;
	background: url(../i/loading.gif) no-repeat;
	position: absolute;
	top: 50px;
	left: 45%;
	display: none;
}

/********************/
#column1 {
	width: 250px;
	float: left;
}

.navigation {
}

.navigation ul {
	overflow: hidden;
}
* html .navigation ul {
	height: 1%;
}

.navigation ul li {
	padding: 5px 0 5px 25px;
	background: url(../i/menu-bulet.png) no-repeat 10px 7px;
}

.navigation ul li a {
	color: #000;
	text-decoration: none;
	font-size: 10pt;
}

.navigation ul li a:hover {
	color: #008b00;
	text-decoration: underline;
}

.navigation ul li.active {
	background-color: #eaeaea;
}

.navigation ul li.active a {
	color: #008b00;
}

.navigation ul li.active a:hover {
	text-decoration: none;
}

.navigation ul li.active ul a {
	color: #000;
}

.navigation ul li.active ul a:hover {
	text-decoration: underline;
	color: #008b00;
}

.navigation ul li.active li.active {
	background-color: #eaeaea;
}

.navigation ul li.active li.active a {
	color: #008b00;
}

.navigation ul li.active li.active a:hover {
	text-decoration: underline;
}

.navigation ul li.active li.active li.active a {
	color: #008b00;
}

.navigation ul li.active li.active li.active a:hover {
	text-decoration: underline;
}

.navigation ul li.active li.active ul a {
	color: #000;
}

.navigation ul li.active li.active ul a:hover {
	text-decoration: underline;
	color: #008b00;
}

.navigation ul ul {
	padding: 10px 0 0 0;
}

.block {
	background: #fff url(../i/columnblock-bg.png) repeat-y 241px 0;
	padding: 20px 10px 0px 0;
	position: relative;
	float: left;
	width: 240px;
	overflow: hidden;
	height: 1%;
}

.block .top {
	display: block;
	font-size: 1px;
	line-height: 1px;
	width: 250px;
	top: 0;
	left: 0;
	height: 16px;
	background: #fff url(../i/columnblock-bg.png) no-repeat -9px 0;
	position: absolute;
}

.block .bottom {
	display: block;
	font-size: 1px;
	line-height: 1px;
	width: 250px;
	height: 16px;
	background: url(../i/columnblock-bg.png) no-repeat -259px 0;
	z-index: 2;
}

.sravnit .head {
	background: url(../i/sravnit-head-bg.png) no-repeat;
	height: 33px;
	width: 240px;
	margin-top: -11px;
	position: relative;
	z-index: 1;
}

.sravnit .head .headler {
	color: #008b00;
	height: 33px;
	line-height: 33px;
	background: url(../i/sravnit-icon.png) no-repeat 10px 5px;
	padding-left: 40px;
	display: inline-block;
	font-size: 14pt;
}

.sravnit .head .headler:hover {
	text-decoration: none;
}

.sravnit .head .delall {
	display: inline-block;
	background: url(../i/delall.png) no-repeat 0 0;
	height: 20px;
	width: 16px;
	text-indent: -9999px;
	position: absolute;
	right: 10px;
	top: 9px;
	overflow: hidden;
}

.sravnit .head .delall:hover {
	background-position: 0 -20px;
}

.sravnit .content {
	background: #ddffda url(../i/sravnit-bg3.png) no-repeat 0 100%;
	position: relative;
	z-index: 3;
	margin: 1px 0 -11px 0;
}

.sravnit .content ul {
	padding: 10px 0 10px 15px;
}

.sravnit .content ul li {
	padding: 3px 0;
}

.sravnit .content .del {
	display: inline-block;
	background: url(../i/sravnit-del1.png) no-repeat 0 -19px;
	width: 12px;
	height: 12px;
	overflow: hidden;
	height: 15px;
	zoom: 1;
	margin-right: 5px;
}

.sravnit .content .del:hover {
	background-position: 0 5px;
}

.sravnit .content ul li a {
	color: #000;
	text-decoration: none;
}

.sravnit .content ul li a:hover {
	color: #b70013;
}

.sravnit .content li h3 {
	font-weight: bold;
	font-size: 12pt;
}

.sravnit .crvlink {
	font-weight: bold;
	text-decoration: underline;
}

.sravnit .crvlink:hover {
	text-decoration: none;
}

#content h1 {
	color: #00a600;
	font-size: 18pt;
}

#content h1 span {
	font-size: 10pt;
}

.pages {
	float: right;
	overflow: hidden;
	height: 1%;
}

.pages li {
	float: left;
	padding: 0 2px;
}

.pages li a {
	float: left;
	color: #000;
	font-size: 11pt;
}

.pages li a:hover {
	text-decoration: none;
	color: #00a600;
}

.pages li.first {
	font-size: 11pt;
}

.pages li.first a {
	background: url(../i/bulet5.png) no-repeat 0px -3px;
	text-indent: -9999px;
	height: 20px;
	width: 16px;
	overflow: hidden;
}

.pages li.first a:hover {
	background-position: 0 -27px;
}

.pages li.last a {
	background: url(../i/bulet5.png) no-repeat -16px -3px;
	text-indent: -9999px;
	height: 20px;
	width: 16px;
	overflow: hidden;
}

.pages li.last a:hover {
	background-position: -16px -27px;
}

.pages li.active {
	padding-left: 20px;
	background: url(../i/bulet4.png) no-repeat 2px 6px;
}

.pages li.active span {
	padding-right: 18px;
	background: url(../i/bulet4.png) no-repeat 100% 11px;
	display: block;
	float: left;
	font-size: 16pt;
	color: #00a600;
	margin-top: -5px
}

.viborka {
	background: url(../i/viborka-bg.png) no-repeat 100% 100%;
}

.viborka-holder {
	background: url(../i/viborka-bg1.png) no-repeat 0 100%;
	padding: 0 0 8px 0;
}

.attr {
	background: #cfcfcf url(../i/attr-bg2.jpg) no-repeat 0 0;
	height: 1%;
	overflow: hidden;
	padding: 0 0 5px 0;
}

.attr-holder {
	background: url(../i/attr-bg.jpg) no-repeat 100% 0;
	height: 1%;
	overflow: hidden;
}

.form-viborka div {
	float: left;
	padding: 0 10px;
}

.form-viborka div label {
	display: block;
	color: #4d4d4d;
	font-size: 8pt;
	padding-left: 7px;
	line-height: 18px;
}

.form-viborka div select {
	width: 200px;
}

.sort {
	background: url(../i/sort-right.png) no-repeat 100% 0;
	height: 21px;
	float: right;
	position: relative;
	margin: 18px 20px 0 0;
}

.sort .label {
	position: absolute;
	top: -15px;
	color: #4d4d4d;
	font-size: 8pt;
	padding-left: 7px;
	left: 0;
}

.sort-holder {
	background: url(../i/sort-left.png) no-repeat 0 0;
	height: 21px;
	float: left;
}

.sort ul {
	overflow: hidden;
	float: left;
	padding: 0 15px 0 10px;
}

.sort ul li {
	float: left;
	padding: 0 10px 0 15px;
	line-height: 21px;
}

.sort ul li a {
	color: #000;
}

.sort ul li a:hover {
	text-decoration: none;
}

.sort ul li.active a {
	color: #008b00;
}

.sort ul li.growth {
	background: url(../i/bulet2.png) no-repeat 0 6px;
}

.sort ul li.decrease {
	background: url(../i/bulet2.png) no-repeat 0 -10px;
}

.znachenie {
	padding: 10px 0;
}

.znachenie dl {
	overflow: hidden;
	height: 1%;
	padding: 5px 0;
	margin: 0px;
	font-size: 12pt;
}

.znachenie dl.odd {
	background: #f2f2f2;
}

.znachenie dl dt {
	float: left;
	width: 200px;
	padding-left: 30px;
	background: url(../i/bulet3.png) no-repeat 10px 10px;
}

.znachenie dl dd {
	color: #00a600;
	font-weight: bold;
}

.znachenie dl dd .del {
	display: inline-block;
	background: url(../i/sravnit-del1.png) no-repeat 0 -24px;
	width: 12px;
	height: 10px;
	overflow: hidden;
	margin: 0 0 2px 5px;
	text-indent: -9999px;
}

.znachenie dl dd .del:hover {
	background-position: 0 0px;
}

.catalog {
	overflow: hidden;
	height: 1%;
	padding-bottom: 30px;
}

.catalog .tovar {
	padding: 0 10px;
	width: 220px;
}

.catalog .tovar .op {
	text-align: center;
}

.catalog .tovar .by {
	/*padding-left: 30px;*/
}

.breadcrumbs {
	overflow: hidden;
	height: 1%;
	clear: both;
	padding:10px 0 0;
}

.breadcrumbs li {
	float: left;
	font-size:11pt;
}
.breadcrumbs li a {
	color: #4d4d4d;
	padding-right: 10px;
	background: url(../i/bulet6.png) no-repeat 100% 7px;
	padding-left:5px;
}

.breadcrumbs li a:hover {
	text-decoration: none;
}

.breadcrumbs li em{
	padding-left:5px;
}

.block2 {
	position: relative;
	padding: 8px 8px 8px 7px;
	float: left;
	height: 100%;
	width: 100%;
}

#main2 .block2 {
	width: auto;
}

.block2 div.tl {
	background: url(../i/block-bg.png) no-repeat 0 0;
	width: 15px;
	height: 15px;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 4;
}

.block2 div.tr {
	background: url(../i/block-bg.png) no-repeat 100% 0;
	width: 100%;
	height: 15px;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	z-index: 3;
}

.block2 div.bl {
	background: url(../i/block-bg.png) no-repeat 0 100%;
	width: 15px;
	height: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.block2 div.br {
	background: url(../i/block-bg.png) no-repeat 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.block2-inner {
	position: relative;
	z-index: 5;
	zoom: 1;
	padding:0 7px;
}

#cart_info em {
	padding: 0 3px;
	font-style: normal;
}
.cart .imghold{
	width:280px;
	float: left;
	padding-left:10px;
}
.cart .imgs {
	width: 200px;
	position: relative;
	padding: 40px 40px 20px 40px;
}

.cart .descr-holder {
	margin: 0 10px 0 310px;
}

.cart .descr {
	float: left;
	width: 100%;
}

.imgs .zoom {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../i/zoom.png) no-repeat;
	width: 11px;
	height: 11px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
}

.cart .imgs .zoom {
	position:relative;
	width:65px;
	padding-left:15px;
	margin:0 auto;
	text-indent:0;
	height:15px;
}

.cart .imgs .sale {
	display: block;
	position: absolute;
	right: 40px;
	top: 0;
	width: 80px;
	height: 80px;
}

.cart .by {
	padding: 15px 0 0 0px;
}

/*.cart .by .price {
	color: #00a600;
	font-size: 22pt;
	float: left;
	padding: 2px 10px 0 0;
}

.cart .by a.incard {
	display: block;
	width: 27px;
	height: 35px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	background: url(../i/by.png) no-repeat;
	overflow: hidden;
	padding-top: 20px;
	color: #000;
	text-decoration: none;
	float: left;
}

a.cart .by .incard:hover {
	background-position: -38px 0;
}

.cart .by span.incard {
	display: block;
	width: 25px;
	height: 35px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	background: url(../i/by.png) no-repeat -78px 0;
	overflow: hidden;
	padding-top: 20px;
	color: #7c7c7c;
	text-decoration: none;
	float: left;
}*/

.options {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	margin: 30px 0 10px 0;
}

.options .odd {
	background: #f2f2f2;
}

.options tr td {
	padding: 5px 0 5px 40px;
	border-collapse: collapse;
	width: 50%;
}

.options tr td span {
	padding-left: 30px;
	background: url(../i/bulet3.png) no-repeat 8px 9px;
	display: block;
	font-size: 11pt;
}

.options tr td i {
	color: #C00014;
	font-style: normal;
}

.seotext2 {
	margin: 10px;
}

.cart .block-news {
	width: 100%;
	clear: both;
	padding-top:20px;
}

.attriboots {
	padding: 10px 0;
	border-bottom: 7px solid #f2f2f2;
	height: 1%;
	position: relative;
	z-index: 2;
}

.attriboots:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.attriboots li {
	float: left;
	line-height: 20px;
	/*	width:200px;
	 height:20px;*/
	padding: 0 0 0 30px;
}

.attriboots li a {
	color: #000;
	background: url(../i/bulet7.png) no-repeat 0 -15px;
	padding: 0 0 0 15px;
	text-decoration: none;
}

.attriboots li a:hover {
	text-decoration: underline;
	background-position: 0 3px;
	color: #00a600;
}

.attriboots li.active a {
	color: #00a600;
	background-position: 0 3px;
}

.attriboots li span {
	color: #7d7d7d;
	background: url(../i/bulet7.png) no-repeat 0 -33px;
	padding-left: 15px;
	text-decoration: none;
}

/**********************************/
.jcarousel-container {
	position: relative;
}

.jcarousel-clip {
	z-index: 2;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.jcarousel-list {
	z-index: 1;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.jcarousel-list li, .jcarousel-item {
	float: left;
	list-style: none;
	width: 200px;
}
.gallery .jcarousel-list li, .gallery .jcarousel-item {
	width: 70px;
	padding:0 5px;
}
.jcarousel-next {
	z-index: 3;
	display: none;
}

.jcarousel-prev {
	z-index: 3;
	display: none;
}

.jcarousel-skin .jcarousel-container {
}

.jcarousel-skin .jcarousel-container-horizontal {
	width: 600px;
	padding: 20px 40px;
	margin: 0 auto;
}
.gallery .jcarousel-container-horizontal {
	width: 240px;
	padding: 10px 20px;
	margin: 0 auto;
}
.jcarousel-skin .jcarousel-clip-horizontal {
	width: 600px;
}
.gallery .jcarousel-clip-horizontal{
	width:240px;
}
.jcarousel-skin .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}

.jcarousel-skin .jcarousel-next-horizontal {
	position: absolute;
	right: 5px;
	width: 18px;
	height: 20px;
	cursor: pointer;
	background: url(../i/bulet8.png) no-repeat -29px -13px;
	display: block;
}

.jcarousel-skin .jcarousel-next-disabled-horizontal, .jcarousel-skin .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -29px -58px;
}

.jcarousel-skin .jcarousel-prev-horizontal {
	display: block;
	position: absolute;
	left: 5px;
	width: 18px;
	height: 20px;
	z-index: 100;
	cursor: pointer;
	background: url(../i/bulet8.png) no-repeat -4px -13px;
}

.jcarousel-skin .jcarousel-prev-disabled-horizontal, .jcarousel-skin .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -4px -58px;
}
/**********************************/
.brendnav .jcarousel-container {
	position: relative;
}

.brendnav .jcarousel-clip {
	z-index: 2;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.brendnav .jcarousel-list {
	z-index: 1;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.brendnav .jcarousel-list li{
	float: left;
	list-style: none;
	width:auto;
	min-width:100px;
	padding:5px;
}
.brendnav .jcarousel-list li a{
	display:table-cell;
	vertical-align:middle;
	background:#fff;
	border:2px solid #dedede;
	height:60px;
	padding:0 5px;
}
.brendnav .jcarousel-list li a:hover{
	border-color:#00a600;
}
.jcarousel-next {
	z-index: 3;
	display: none;
}

.jcarousel-prev {
	z-index: 3;
	display: none;
}


.brendnav  .jcarousel-container-horizontal {
	width: 96%;
	padding: 0 2%;
	margin: 0 auto;
}

.brendnav .jcarousel-clip-horizontal {
	width: 100%;
}
.jcarousel-skin .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}

.brendnav .jcarousel-next-horizontal {
	position: absolute;
	right: 5px;
	width: 18px;
	height: 20px;
	cursor: pointer;
	background: url(../i/bulet8.png) no-repeat -29px -13px;
	display: block;
	top:25px;
}

.brendnav .jcarousel-next-disabled-horizontal, .brendnav .jcarousel-next-disabled-horizontal:hover, .brendnav .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -29px -58px;
}

.brendnav .jcarousel-prev-horizontal {
	top:25px;
	display: block;
	position: absolute;
	left: 5px;
	width: 18px;
	height: 20px;
	z-index: 100;
	cursor: pointer;
	background: url(../i/bulet8.png) no-repeat -4px -13px;
}

.brendnav .jcarousel-prev-disabled-horizontal, .brendnav .jcarousel-prev-disabled-horizontal:hover, .brendnav .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -4px -58px;
}
/*******************/
.gallery{
	position:relative;
}
.gallery .jcarousel-next-horizontal, .gallery .jcarousel-prev-horizontal{
	top:38px!important;
}
#mycarousel {
	margin: 0 auto;
	overflow: hidden;
	height: 1%;
	background: #fff;
	position: relative;
	z-index: 2;
}

#mycarousel .tovar {
	width: 200px;
	margin: 0;
}

#mycarousel .tovar .by {
	padding-left: 50px;
	float: left;
}

/*#mycarousel .tovar .img{
 1width:200px;
 1position:relative;
 1height:200px;
 1float:left;
 }
 #mycarousel .tovar .img img{
 1position:relative;
 1float:left;
 1zoom:1;
 }
 */
.comments {
	overflow: hidden;
	height: 1%;
	border-bottom: 5px solid #f2f2f2;
	padding: 10px 0;
	color: #4d4d4d;
}

.about {
	width: 200px;
	float: left;
	padding-left: 17px;
}

.date {
	display: block;
}

.name {
	display: block;
	font-size: 16pt;
}

.comment-holder {
	margin-left: 220px;
}

.comment {
	float: right;
	width: 100%;
}

.add-comment div.clean {
	clear: both;
	overflow: hidden;
	height: 1%;
	padding: 5px 0;
}

.add-comment div label {
	width: 80px;
	text-align: right;
	display: block;
	float: left;
	font-size: 12pt;
	padding-right: 12px;
}

#name {
	width: 210px;
	border: 1px solid #bcbcbc;
	float: left;
	padding: 0 4px;
}

.text-comment-holder {
	margin: 0 10px 0 92px;
}

.text-comment-holder2 {
	width: 100%;
	float: left;
}

#text {
	border: 1px solid #bcbcbc;
	width: 98%;
	padding: 4px;
}

.add-comment table {
	margin-left: 92px;
}

#capcha {
	background: url(../i/capcha-input.png) no-repeat;
	width: 100px;
	height: 36px;
	border: none;
	line-height: 36px;
	text-align: center;
	color: #009800;
	font-size: 20pt;
}

.reloadcapcha {
	text-align: center;
	vertical-align: top;
	padding-bottom: 10px;
	width: 100px;
}

.sravnenie td {
	width: 160px;
	border-left: 3px solid #fff;
	padding: 3px 10px;
	font-size: 10pt;
}

.sravnenie tr.odd {
	background: #f2f2f2;
}

.sravnenie .tovar {
	margin-top: 0;
}

.sravnenie .attribut span {
	padding-left: 30px;
	background: url(../i/bulet3.png) no-repeat 8px 7px;
	display: block;
	width: 180px;
}
.newslist{
}
.newslist .news{
	padding:10px 0;
	clear:both;
	overflow:hidden;
}
.news .block2-inner {
	padding: 0 15px;
}

.news .newsimg {
	float: left;
	width: 150px;
	text-align: center;
	margin: 20px;
}

.news h2 {
	width: 90%;
	float: left;
	color: #4d4d4d;
	font-size: 14pt;
	background: url(../i/bulet3.png) no-repeat 0 11px;
	padding-left: 20px;
}

.news .kolvo-holder {
	margin-left: 95%;
}

.news .kolvo-holder span {
	display: block;
	float: left;
	color: #4d4d4d;
	font-size: 14pt;
}

.news .news-header {
	margin: 5px 0;
	overflow: hidden;
	height: 1%;
}

.news .news-holder {
	clear: both;
	font-size: 12pt;
	line-height: 16pt;
}

.news .more {
	line-height: 27px;
	display: block;
	font-size: 10pt;
	float:right;
	margin-right:20px;
}

.news .more:hover {
}

.news-header-main {
	background: #eeeeee;
}

.news-header-main .breadcrumbs li {
	/*height:35px;*/
}

.news-header-main .breadcrumbs {
	padding: 0 0 15px 5px;
	float: left;
}

.news-header-main .breadcrumbs li a {
	background: url(../i/bulet9.png) no-repeat 100% 22px;
	font-size: 16pt;
	padding: 10px 15px 0 10px;
	float: left;
	color: #4d4d4d;
}

.news-header-main .pages {
	padding: 15px 15px 0 0;
}

.block3 {
	position: relative;
	padding: 8px 8px 8px 7px;
	float: left;
	height: 100%;
	width: 100%;
}

.block3 div.tl {
	background: url(../i/news-header-bg.png) no-repeat 0 0;
	width: 15px;
	height: 15px;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 4;
}

.block3 div.tr {
	background: url(../i/news-header-bg.png) no-repeat 100% 0;
	width: 100%;
	height: 15px;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	z-index: 3;
}

.block3 div.bl {
	background: url(../i/news-header-bg.png) no-repeat 0 100%;
	width: 15px;
	height: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.block3 div.br {
	background: url(../i/news-header-bg.png) no-repeat 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.block3-inner {
	position: relative;
	z-index: 5;
	zoom: 1;
}

.textpage {
	font-size: 10pt;
	line-height: 16pt;
	clear: both;
	padding:0 15px 10px;
}

.textpage h1 {
	margin: 15px 0!important;
	padding:0!important;
}

.textpage h2, .textpage h3 {
	font-weight: bold;
	font-size: 12pt;
	margin: 5px 0;
}

.textpage p {
	margin: 10px 0;
	/*	text-indent:15px;*/
}

.textpage ul {
	padding-left: 20px;
}

.textpage ul li {
	padding-left: 20px;
	background: url(../i/bulet4.png) no-repeat 0 11px;
}

.textpage .newsimg {
	float: left;
	width: 150px;
	text-align: center;
	margin: 20px;
}

.textpage .newsimg img {
	display: block;
	margin: 0 auto;
}

.textpage .newsimg span {
	color: #00A600;
	line-height: 11pt;
	font-size: 11px;
}

.textpage table {
	margin: 15px 3px;
	border-collapse: collapse;
}

.textpage table thead {
}

.textpage table th {
	background: #ececec;
	border: 3px solid #fff;
}

.textpage table td {
	background: #ececec;
	border: 3px solid #fff;
	padding: 3px 5px;
	vertical-align: top;
	font-size: 10pt;
	line-height: 12pt;
}

.textpage table td.title {
	font-weight: bold;
}

.textpage .textfooter {
	color: #00A600;
	clear: both;
	padding: 15px 0;
}

.textpage .textfooter h5 {
	font-size: 16pt;
	margin: 10px 0;
}

.textpage .textfooter span {
	display: block;
	font-size: 10pt;
}

.reg {
}

.regtitle {
	color: #4d4d4d;
	font-size: 12pt;
	text-align: right;
	padding: 0 160px 5px 0;
	margin: 15px 0 -10px 0;
}

.reg .both {
	clear: both;
	overflow: hidden;
	height: 1%;
	margin: 15px 0;
}

.reg label {
	display: block;
	width: 220px;
	float: left;
	text-align: right;
	color: #4d4d4d;
	font-size: 12pt;
}

.reg .input-holder {
	margin: 0 130px 0 240px;
}

.reg input.textinp, .reg textarea {
	float: left;
	width: 90%;
	border: 1px solid #bcbcbc;
	padding: 0 5px;
	line-height: 16px;
	font-size: 10pt;
	color: #4d4d4d;
}

.reg input.textinp {
	height: 18px;
	line-height: 18px;
}

.reg .date input.textinp {
	width: 20%;
	margin-right: 15px;
}

.reg .nec input.textinp {
	border: 1px solid #00a600;
}

.star {
	color: #00a600;
	padding: 0 3px;
}

.reg .add-comment {
	padding: 20px 0 0 0;
	border-top: 7px solid #ebebeb;
}

.korzina {
	margin: 10px 0;
	border-collapse: collapse;
}

.korzina td {
	padding: 10px 10px 27px 10px;
	background: url(../i/table-bg.png) repeat-x 0 100%;
	border-collapse: collapse;
}

.korzina td.td1 {
	width: 48px;
	text-align: center;
	border-right: 4px solid #fff;
	color: #00a600;
	font-size: 20pt;
	font-weight: bold;
}

.korzina td.td2 {
	width: 200px;
	border-right: 4px solid #fff;
}

.korzina td.td3 {
	border-right: 4px solid #fff;
}

.korzina td.td4 {
	width: 156px;
	text-align: center;
}

.korzina .last td {
	background: none;
	padding-bottom: 10px;
}

.korzina .imgs {
	margin: 0;
	padding: 0;
}

.korzina h2 {
	font-size: 15pt;
	color: #4d4d4d;
}

.korzina h2 a {
	color: #00a600;
}

.korzina .kolvo {
	border: none;
	background: url(../i/kor-inp-bg.png) no-repeat;
	height: 16px;
	width: 38px;
	padding: 2px 0 4px 0;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #000;
	font-weight: bold;
}

.korzina .by {
	padding: 5px 0 0 30px;
}

.korzina .by .price {
	color: #00a600;
	font-size: 18pt;
	float: left;
	padding: 2px 3px 0 0;
}

.korzina .by .incard {
	display: block;
	width: 40px;
	height: 15px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	padding-top: 10px;
	color: #000;
}

.korzina .del {
	display: block;
	margin: 10px auto 0 auto;
	width: 41px;
	height: 38px;
	background: url(../i/del2.png) no-repeat 0 -38px;
	text-indent: -9999px;
	overflow: hidden;
}

.korzina .del:hover {
	background-position: 0 0;
}

.button-holder {
	margin: 0 28px 0 24px;
	clear: both;
}

.buttonholder {
	background: url(../i/buttonhold-bg.png) repeat-x;
	height: 97px;
	clear: both;
	position: relative;
	z-index: 20;
	top: -20px;
	width: 100%;
	padding: 0 8px;
}

.buttonholder2 {
	width: 700px;
	float: right;
	height: 97px;
	background: url(../i/buttonhold-c-bg.png) repeat-x;
	position: absolute;
	right: 0;
	top: 0;
}

.buttonholder3 {
	height: 97px;
	clear: both;
	position: relative;
	top: -117px;
	width: 100%;
	z-index: 30;
	padding: 0 8px;
}

.buttonholder4 {
	width: 700px;
	float: right;
	height: 97px;
	position: absolute;
	right: 0;
	top: 0;
}

#ofrmit {
	display: block;
	position: relative;
	top: 25px;
	left: 40px;
	width: 270px;
	height: 52px;
	background: url(../i/oformit.png) no-repeat 0 0;
	text-indent: -9999px;
	overflow: hidden;
	z-index: 1050;
}

#perechitat {
	display: block;
	position: absolute;
	top: 25px;
	left: 310px;
	width: 180px;
	height: 52px;
	background: url(../i/oformit.png) no-repeat -270px 0;
	text-indent: -9999px;
	overflow: hidden;
}

.buttonholder3 .by {
	padding: 5px 0 0 30px;
	position: absolute;
	right: 0px;
	top: 25px;
	width: 150px;
}

.buttonholder3 .by .price {
	color: #00a600;
	font-size: 22pt;
	float: left;
	padding: 2px 3px 0 0;
}

.buttonholder3 .by .incard {
	display: block;
	width: 40px;
	height: 15px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	padding-top: 15px;
	color: #000;
}

.oformit {
	background: #f2f2f2;
	overflow: hidden;
	height: 1%;
	padding: 50px 8px 0 8px;
	width: 100%;
	top: -165px;
	position: relative;
}

.col1 {
	width: 45%;
	float: left;
}

.col2-holder {
	margin: 0 0 0 50%;
}

.col2 {
	width: 100%;
	float: left;
}

.oformlenie {
	padding-top: 25px;
}

.block4 {
	position: relative;
	padding: 8px 8px 8px 7px;
	float: left;
	height: 100%;
	width: 100%;
}

.block4 div.bl {
	background: url(../i/oformit-bg.png) no-repeat 0 100%;
	width: 15px;
	height: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.block4 div.br {
	background: url(../i/oformit-bg.png) no-repeat 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.block4-inner {
	position: relative;
	z-index: 5;
	zoom: 1;
}

.oformlenie label {
	display: block;
	width: 130px;
	text-align: right;
	color: #666666;
	font-size: 11pt;
}

.oformlenie input.itext {
	width: 100%;
}
.oformlenietitle {
	color: #4d4d4d;
	font-size: 12pt;
	text-align: center;
	margin: 15px 0 0 0;
}

.oformlenie .both {
	clear: both;
	overflow: hidden;
	height: 1%;
	margin: 15px 0;
}

.oformlenie label {
	display: block;
	width: 130px;
	float: left;
	text-align: right;
	color: #4d4d4d;
	font-size: 12pt;
}

.oformlenie .input-holder {
	margin: 0 10px 0 135px;
}

.oformlenie input.textinp, .oformlenie textarea {
	float: left;
	width: 90%;
	border: 1px solid #bcbcbc;
	padding: 0 5px;
	line-height: 16px;
	font-size: 10pt;
	color: #4d4d4d;
}

.oformlenie input.textinp {
	height: 18px;
	line-height: 18px;
}

.oformlenie .date input.textinp {
	width: 20%;
	margin-right: 15px;
}

.oformlenie .nec input.textinp {
	border: 1px solid #00a600;
}

.star {
	color: #00a600;
	padding: 0 3px;
}

.send2 {
	float: right;
	margin: 10px 20px 20px 0;
}

.col1 {
}

.col1 h4 {
	color: #00a600;
	font-size: 14pt;
	margin: 20px 10px 10px 20px;
}

.col1 h5 {
	color: #00a600;
	font-size: 12pt;
	margin: 20px 10px 10px 20px;
}

.col1 p {
	font-size: 10pt;
	margin: 10pt 0 10px 20px;
}

#perechitat2 {
	display: none;
	position: absolute;
	background: url(../i/pereshitat2.png) no-repeat;
	width: 219px;
	height: 52px;
	top: 25px;
	left: 275px;
	text-indent: -9999px;
	overflow: hidden;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
}

#TB_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	background-color: #666;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.50;
	opacity: 0.50;
	height: 100%;
	width: 100%;
}
* html #TB_overlay { /* ie6 hack */
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
	position: fixed;
	z-index: 102;
	display:none;
	text-align:left;
	top:50%;
	left:50%;
	border: 1px solid #666;
	background:#fff;
}
* html #TB_window { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
	display:block;
	padding: 15px 15px 0 15px;
}
#TB_caption {
display:none;
}
#TB_closeWindow {
	height:25px;
	padding:11px 0 10px 0;
	background:#fff;
	display:block;
	text-align:center;
}
#TB_closeAjaxWindow {
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}
#TB_ajaxWindowTitle {
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}
#TB_title {
	background-color:#e8e8e8;
	height:27px;
}
#TB_ajaxContent {
	clear:both;
	padding:7px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}
#TB_ajaxContent.TB_modal {padding:15px;}
#TB_ajaxContent p {padding:5px 0px 5px 0px;}
#TB_load {
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
* html #TB_load { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect {
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent {
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

.err404{
	background:url(../i/err404.jpg) no-repeat 0 0;
	height:758px;
	position:relative;
	width:100%;
}
.acatalog{
	position:absolute;
	top:290px;
	left:23px;
	font-size:16pt;
	color:#4d4d4d;
	text-decoration:none;
	border-bottom:1px solid #4d4d4d;
}
.acatalog:hover{
	border:none;
}
.amain{
	position:absolute;
	top:500px;
	color:#4d4d4d;
	font-size:20pt;
	text-align:right;
	right:340px;
}
.amain a{
	display:block;
	padding-top:10px;
	font-size:16pt;

}
.errlogo{
	display:block;
	width:240px;
	height:110px;
	overflow:hidden;
	position:absolute;
	left:665px;
	top:75px;
	text-indent:-9999px;
}
.by a.srv{
	display:block;
	float:left;
	background:url(../i/sravnit-icon2.png) no-repeat;
	width:24px;
	height:24px;
	text-indent:-9999px;
	overflow:hidden;
	margin:5px 0 0 0;
}
.by span.srv{
	display:block;
	float:left;
	background:url(../i/sravnit-icon2.png) no-repeat 0 -37px;
	width:24px;
	height:24px;
	text-indent:-9999px;
	overflow:hidden;
	margin:5px 0 0 10px;
}
#err{
	position:relative;
	display:block;
}
#err span{
	display:block;
	position:absolute;
	top:-15px;
	left:10px;
	color:#f00;
}

.zakazitem{
	margin:10px 0;
}
.zakaznuber{
	width:100%;
	font-size:12pt;
	cursor:pointer;
	font-weight:bold;
	color:#4D4D4D;
}
.zakaznuber td{
	width:25%;
}
.zakaznuber span{
	display:block;
	background:url(../i/bulet10.png) no-repeat;
	line-height:39px;
	padding-left:40px;
}
.zakaznuber span.open{
	background:url(../i/bulet10.png) no-repeat 0 -39px;
}
.lkkorzina{
	width:100%;
	border-collapse:collapse;
	font-size:12pt;
}
.lkkorzina td{
	padding:5px 0;
}
.lkkorzina td img{
	width:50px;
}
.lkkorzina td.img{
	width:80px;
	text-align:center;
}
.lkkorzina .grey{
	background:#fcfcfc;
}
.itogo{
	width:100%;
	border-collapse:collapse;
	background:#f0f0f0;
	margin-bottom:15px;
	color:#00A600;
	font-size:14pt;
}
.itogo td{
	padding:10px;
}
.head2{
	width:100%;
	margin:0 0 10px 0;
}
.head2 .bigbutton{
text-align:right;
}
.head2 .bigbutton .buttons{
	display:block;
	float:right;
	padding:5px 10px;
	background:#eee;
	font-size:11pt;
	font-weight:bold;
}


.dataedit{
}
.dataedit h5, .addredit h5{
	font-size:16pt;
	background:#FCFCFC url(../i/bulet11.png) no-repeat 0 0;
	padding:10px 10px 20px 70px;
	color:#4D4D4D;
	cursor:pointer;
	height:21px;
}
.dataedit h5.open, .addredit h5.open{
	background-position:0 -51px;
}
.dataedit_h, .addredit_h{
	clear:both;
}
.addredit, .dataedit{
	clear:both;
	padding-bottom:40px;
}
.oformlenie2 {
	clear:both;
	background:#FCFCFC;
	width:100%;
}
.oformlenie2 h4 {
	font-size:15pt;
	padding:7px 0;
	width:100%;
}
.oformlenie2 td {
	padding:7px 15px;
	width:100%;
}
.oformlenie2 .itext {
	float:left;
	border:1px solid #BCBCBC;
	width:50%;
}
.oformlenie2 .nec{
border:1px solid #00A600;
}
.oformlenie2 .save{
	margin-left:125px;
}
.oformlenie2 label {
	display:block;
	width:130px;
	float:left;
	text-align:right;
	color:#4d4d4d;
	font-size:12pt;
	padding-right:5px;
}
.send2 {
	margin:0 0 40px 142px;
}
.addrholder{
	background:#FCFCFC;
}
.addrholder li{
	font-size:13pt;
	padding:3px 10px;
	color:#000;
	padding:3px 10px;
	font-size:13pt;
	font-weight:bold;
	width:270px;
}
.addrholder li.hover{
	color:#00A600;
}
.addrholder li.active{
	color:#00A600;
}
#current{
	font-weight:bold;
}
#current a:hover{
	text-decoration:none;
}

p.text{
	padding:15px;
}
.carusel_hover{
	position:relative;
}
#carusel-holder{
	position:relative;
	z-index:2;
}
#carusel_hover{
	background:url(../i/transparent2.png);
	height:200px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:1;
}
#carusel_hover div{
	background:url(../i/loading.gif) no-repeat 50% 70%;
}
.star2{
  color:#f00;
  text-decoration:blink;
}
.change_model{
	overflow:hidden;
	height:1%;
	padding:10px 0 0 0;
}
.change_model h3{
	float:left;
}
.change_model select{
	float:left;
	margin:2px 0 0 5px;
}
.poddtext{
	
}

.poddtext{
	clear:both;
	padding:3px 10px!important;
	float:none!important;
}
.tovhead{
	padding:10px 5px;
	color:#4d4d4d !important;
}

.by_block{
	clear:both;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border:3px solid #009d00;
	padding:10px;
	position:relative;
	overflow:hidden;
	height:1%;
}
.catalog .by_block{
	border:none;
	padding:5px;
	overflow:visible;
	height:auto;
	width:180px;
	margin:0 auto;
}
.by_block .price{
	background:url(../i/bg_price.png) no-repeat;
	width:107px;
	display:block;
	height:34px;
	line-height:34px;
	float:left;
	margin-left:1px;
	font-size:14pt;
	text-align:center;
}
.by_block .price em{
	font-style:normal;
	color:#00A600;
}
.by_block .price span{
	color:#4d4d4d;
}
.by_block .old_price{
	background:url(../i/bg_old-price.png) no-repeat;
	width:70px;
	height:26px;
	margin-top:8px;
	display:block;
	color:#fff;
	line-height:26px;
	float:left;
	text-align:center;
	text-decoration:line-through;
	font-style:normal;
}
.by_block .incard{
	background:url(../i/by2.png) no-repeat;
	width:186px;
	height:33px;
	overflow:hidden;
	text-indent:-9999px;
	display:block;
	clear:both;
}
.by_block .incard:hover{
	background-position:0 -33px;
}
.banerblock{
	clear:both;
	padding-top:10px;
}
.rezhim{
	position:absolute;
	top:0;
	right:0;
	float:none;
	width:30%;
	height:auto;
	background:#4d4d4d url(../i/block-bg.png) no-repeat 0 100%;
	padding:5px 15px 15px;
	color:#fff;
}
.rezhim p{
	margin:0;
}
.contact{
	font-weight:bold;
	color:#C00014;
}
.contact img{
	margin-right:3px;
}
.ultext ul li{
	background:none;
	margin:5px 0;
	line-height:16px;
	padding:0;
}
i.dvdr{
	color:#00a600;
	padding:0 5px;
}
.abouttov{
	margin:10px 0;
}
.buttonhold{
}
.buttonhold .head{
	padding:1px 0 5px 25px;
	background-repeat:no-repeat;
	font-size:12pt;
}
.buttonhold .head a{
	color:#4d4d4d;
}
.buttonhold p{
	padding-left:25px;
}
.buttonhold ul{
	width:48%;
	margin-right:2%;
	float:left;
}
.buttonhold ul li{
	margin:5px 0 10px;
}
/********/
.tabsholder{
	clear:both;
	width:98%;
	margin:0 auto;
}
#tabs{
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
	padding-left:20px;
	margin-bottom:-1px;
}
#tabs li{
	float:left;
	margin:0 0 0 1px;
	border:solid #00A600;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width:1px;
	background:#fff;
	line-height:30px;
	padding:0 15px;
	position:relative;
}
#tabs li a{
	display:block;

}
#tabs li.active{
	border-bottom-color:#fff;
	font-size:12pt;
	font-weight:bold;
}
#tabs li.active a{
		font-weight:bold;
		text-decoration:none;
		color:#4d4d4d;
}
#tab_content{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #00A600;
}
#tab_content .tab_content{
	clear:both;
	padding:15px 0;
	overflow:hidden;
}
.hka{
		width:40%;
		float:left;
		margin:0 5%;
}
.hka dt{
	color:#00A600;
	font-size:12pt;
	font-weight:bold;
	margin-top:10px;
}
.hka dd{
}
.hka em{
	font-weight:bold;
	font-style:normal;
}
.cart .text{
	padding:0 15px;
}
.payvar{
	position:absolute;
	top:3px;
	right:10px;
}
.payvar ul li{
	display:inline;
}
.by_credit{
	display:block;
	margin-left:5px;
}
.socset{
	float:right;
	padding-top:15px;
}
.socset li{
	display:inline;
}
.socset li a{
	text-decoration:none;
}
.popupchik{
		position:absolute;
		top:0;
		z-index:99;
		padding:15px;
		background:#fff;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border:3px solid #00A600;
		padding-right:20px;
		width:400px;
}
.close-popup{
	position:absolute;
	top:5px;
	right:5px;
	width:13px;
	height:12px;
	background:url(../i/close.png) no-repeat 0 0;
	text-indent:-9999px;
	overflow:hidden;
}
.close-popup:hover{
	background-position:0 -12px;
}
.after_by{
	left: 202px;
	position: absolute;
	top: 43px;
}
.catalog .add_to_compare,.catalog .remove_from_compare{
	background:url(../i/check_box.png) no-repeat 0 -46px;
	clear:both;
	display:block;
	padding-left:17px;
	color:#818181;
	width:140px;
	margin:0 auto;
}
.catalog .add_to_compare:hover{
	background-position:0 -70px;
}
.catalog .remove_from_compare{
	background-position:0 2px;
	text-decoration:none;
	cursor:default;
}
.catalog .remove_from_compare:hover{
	background-position:0 2px;
	text-decoration:none;
	cursor:default;
}
.by_popup{
	width:200px;
}
.zaghold{
	width:99%;
}
.zaghold, .zaghold td{
	vertical-align:top;
	border:none;
	padding:0;
	margin:0;
	border-collapse:collapse;
}
.artikul{
	padding:0 0 3px 2px;
	font-weight:bold;
}
.oncunsult{
	padding:0!important;
	height:75px;
}
.oncunsult a{
	color:#4D4D4D;
	text-decoration:none;
	font-size:13pt;
}
.oncunsult a img{
	float:left;
}
.oncunsult a span{
	text-decoration:underline;
	float:left;
	padding:25px 0 0 10px;; 
	
}
.oncunsult a:hover span{
	text-decoration:none;
}
